p{
	color:lightgreen;
	font-weight:bold;
	font-size:32px;
	text-align:center;
}

hr{
	background-color:white;
}

div.piano{
	height: 230px;
	width: 6%;
    background-color: white;
    border: 1px solid black;
    position: relative;
}

div.black {
    height: 120px;
    background-color: black;
    position: absolute;
    left: 75%;
    z-index: 100;
}

div#blackkey{
	text-align:center;
	color:yellow;
}

div.text-center{
	width: 6%;
	margin-top:-20px;
	margin-bottom:20px;
	font-size:1em;
	position: relative;
	color:white;
}

div.keyboard {
    background-color: yellow;
	color:black;
    border: 1px solid black;
}

.grey {
    background-color: lightgray !important
}


div.app{
	text-align:center;
}

div.Metronome{
	color:white;
	width:20em;
	text-align:center;
	font-size:1em;
	margin:auto;
	font-size:1em;
}

button#control{
	background-size: cover;
	background-color:black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

img{
	width:200px;
	height:200px;
	border-radius:100px
}
body {
	background-color:black;
	/*background-image: url(background.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}